.toolbar{
/* position: static;
top:0;
left:0;
width:100%;
height:56px ;
background-color:#197EFF; */

/* background-color:;
font-size: 15px;

text-align: center;
position: static;
left: 0;
top: 0;
height: 56px;
width: 100%; */
position:fixed; /* fixing the position takes it out of html flow - knows
nothing about where to locate itself except by browser
coordinates */
left:0;			/* top left corner should start at leftmost spot */
top:0;			/* top left corner should start at topmost spot */
width:100%;		/* take up the full browser width */
z-index:200;	/* high z index so other content scrolls underneath */
height:56px; 	/* define height so you can define for content */
background-color:#197EFF;

}
.toolbar__navigation{

    display:flex;
    align-items:center;
    height:100%;
    padding:0 1rem;
}
.toolbar__logo{
    margin-left: 2rem;
    text-shadow: 2px 2px 4px #000000;
    top:50px;

}
.toolbar__logo a{
color:white;
text-decoration: none;
font-size:1.5rem ;
height:20px;

}
.toolbar_navigation-items a{
    text-decoration:none ;
    color:white;
    text-shadow: 1px 1px 2px #000000;

}
.toolbar_navigation-items a:hover{
    text-decoration:none ;
    color:white;

}
.toolbar_navigation-items ul{

    list-style: none;
    margin:0;
    padding:0;
    display:flex;
}
.toolbar_navigation-items li{
    padding:0 0.5rem;
    color: white;

}
.spacer{
    flex:1;

}
.image{
    height:60px;
   
}
