
.table{
    padding-top: 120px;
}
.form-group-list{
    padding-top: auto ;     
}
.sky{
    float: right;
    padding-right: 10px;
}
.shape{
    padding-left:400px ;
    padding-top:0px 
}
.file{
    padding: 10px;
}

.form-group-right{
    width: 700px;
}
.navstyle{
    color:blue;
}
.bg-light {
    background-color: #71ade8!important;
}
a{
   color: #fbfdff
}
.fot{
    text-align: center
}
.foot{
    background-Color: #71ade8
}