.footer{
    background-color:#197EFF;
  font-size: 15px;
  color: white;
  border-top: 1px solid #E7E7E7;
  text-align: center;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 40px;
  width: 100%;
  text-shadow: 2px 2px 4px #000000;
    
    }