
.table{
    padding-top: 120px;
}
.form-group-list{
    font-style: inherit;
    margin: 0%
}
.sky{
    float: right;
    padding-right: 10px; 
    text-align:center
}

.file{
    padding: 10px;
    font-weight: bold
}

.bg-light {
    background-color: #197EFF!important;
}

.fot{
    text-align: center
}
.foot{
    background-Color: #197EFF
}
 ul {
    list-style-type: none;
  }
 
  li a {
    display: inline-block;
    color: black;
    text-decoration: none;
    text-align: center;
  }
  
  li a.active {
    background-color: white; 
    color:black;
  }

  li a:hover:not(.active) {
    background-color: white; 
    color: black;
  }

  a.active {
      background-color: white; 
  } 
  .ant-table-thead > tr > th{
      font-weight: bold; 
      font-size: medium;
      background-color: lightgrey;
  }
  .form-group-item{
      width: 600px;
      height: 300px; 
      float: right;
      margin-top: 20px;  
  }

  p.sky{
      margin-bottom: 0px
  }
  p {
    margin-top: 0;
    margin-bottom: 0px;
}

.navbar{
    padding: 3px
}
.aaa{
    position: static;
    position: relative;
    top: -60px;
    display: inline-block; 
    margin-left: 95px;   
}
 .flex-container {
    display: flex;
    flex-direction: row;
  }

  .ant-modal-content {
      width: 60em;
      max-width: 100em;
  }
.ant-modal{
    margin-left: 210px;
    padding-bottom: 20px;
    margin-right: 0px;
    transform-origin: -190px 82px
}
   .ccc{
      padding-right: 40px ;
  } 

  .ddd{
      width: 17em;
  }

  input[type=text] {
    display: inline-block;  
    width: 237px; 
  }
  input.ant-input{
      padding: 0px 40px 0px 16px;   
  }

 .ant-input-search{
    width: 20px;
} 
  .ant-input-affix-wrapper{
    width: 30px;
   } 

  .ant-select-selection--single {
      width: 150px;
  }
  

